- @articles.each do |article|
  .content
    %h4.title
      = article.title
    .user_name
      投稿者：
      = link_to user_path(article.user_id) do
        = article.user.name
    .text
      = article.content
    .lists-box
      %ul.lists
        %li.lists__list
          .lists__list--show
            = link_to "/articles/#{article.id}" do
              続きを読む
        - if user_signed_in? && current_user.id == article.user_id
          %li.lists__list
            .lists__list--edit
              = link_to edit_article_path(article.id) do
                編集
          %li.lists__list
            .lists__list--delete
              = link_to "/articles/#{article.id}" ,method: :delete do
                削除